<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/categories">Lista de Categorias</a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2-border">{{ pageTitle }}</h1>
    </div>
    <div class="col-md">
        <a routerLink="/categories" class="btn btn-outline-warning float-right">
            < Voltar</a>
    </div>
</div>

<form [formGroup]="categoryForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">Informações sobre as Categorias</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Descrições</label>
                    <input type="text" class="form-control" id="title" formControlName="title" />
                    <div class="text-danger" *ngIf="
              categoryForm.get('title')['invalid'] &&
              categoryForm.get('title')['touched']
            ">
                        <div *ngIf="categoryForm.get('title')['errors'].required">
                            Informação obrigatória!
                        </div>
                        <div *ngIf="categoryForm.get('title')['errors'].minlength">
                            Deve ter no mínimo 02 carateres!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-5" *ngIf="serverErrorMessages.length > 0">
        <strong>Erro no Servidor, ligar o backend:</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
        </ul>
    </div>

    <button [disabled]="isSubmittingForm || categoryForm.invalid" type="submit" class="btn btn-outline-danger btn-lg float-right mt-3">
    Salvar
  </button>
</form>