<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Tarefas</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2-border">Todas as Tarefas</h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-outline-success float-right">+ Adicionar nova Tarefa</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-dark text-light">
            <th class="w-50">Exibindo nossas Tarefas</th>
            <th class="w-25 text-center">Editar/Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>
                <strong>{{ task.title }}</strong
        ><br />
        <small>{{ categories.get(task.listId) }}</small>
      </td>
      <td class="text-center">
        <a
          [routerLink]="[task.id, 'edit']"
          class="btn btn-outline-success btn-sm mr-2"
          >Editar</a
        >
        <a (click)="deleteTask(task)" class="btn btn-outline-danger btn-sm">
          Excluir
        </a>
      </td>
    </tr>
  </tbody>
</table>