<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/tasks">Tarefas</a>
        </li>
        <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2-border">{{ pageTitle }}</h1>
    </div>
    <div class="col-md">
        <a routerLink="/tasks" class="btn btn-outline-warning float-right">
            < Voltar</a>
    </div>
</div>

<form [formGroup]="taskForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">Informações sobre as Tarefas</div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="listId">Categorias</label>
                    <select name="listId" id="listId" class="form-control" formControlName="listId">
            <option *ngFor="let category of categories" [ngValue]="category.id">
              {{ category.title }}
            </option>
          </select>
                    <div class="text-danger" *ngIf="
              taskForm.get('listId')['invalid'] &&
              taskForm.get('listId')['touched']
            ">
                        <div *ngIf="taskForm.get('listId')['errors'].required">
                            Informação obrigatória!
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Descrições</label>
                    <input type="text" class="form-control" id="title" formControlName="title" />
                    <div class="text-danger" *ngIf="
                      taskForm.get('title')['invalid'] &&
                      taskForm.get('title')['touched']
                       ">
                        <div *ngIf="taskForm.get('title')['errors'].required">
                            Informação obrigatória!
                        </div>
                        <div *ngIf="taskForm.get('title')['errors'].minlength">
                            Deve ter no mínimo 02 carateres!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mt-5" *ngIf="serverErrorMessages.length > 0">
        <strong>Erro no Servidor conectar o backend:</strong>
        <ul>
            <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
        </ul>
    </div>

    <button [disabled]="isSubmittingForm || taskForm.invalid" type="submit" class="btn btn-outline-danger btn-lg float-right mt-3">
    Salvar
  </button>
</form>